<div id="<%= dom_id task %>">
  <p>
    <strong>Task:</strong>
    <%= task.title %>
  </p>

  <p>
    <% if task.description && task.description.length > 0 %>
      <strong>Description:</strong>
      <%= task.description %>
    <% else %>
      <span>No description available.</span>
    <% end %>
  </p>

</div>
